<div id="pan-navi" class="clearfix">
	<ol>
		<li class="arrow"><%= link_to "HOME", root_path %></li>
		<li><strong>株用語集</strong></li>
	</ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

	<!--content-box-->
	<div id="content-box" class="clearfix">

		<!--main-->
		<article id="main" class="clearfix">

			<div class="title-bar">
				<h1><img src="./img/title-bar-glossary-list.png" alt="株用語集" /></h1>
			</div>

			<ul class="glossary-nav clearfix">
				<li><a href="#glossary-1">あ行</a></li>
				<li><a href="#glossary-2">か行</a></li>
				<li><a href="#glossary-3">さ行</a></li>
				<li><a href="#glossary-4">た行</a></li>
				<li><a href="#glossary-5">な行</a></li>
				<li><a href="#glossary-6">は行</a></li>
				<li><a href="#glossary-7">ま行</a></li>
				<li><a href="#glossary-8">や行</a></li>
				<li><a href="#glossary-9">ら行</a></li>
				<li><a href="#glossary-10">わ行</a></li>
				<li><a href="#glossary-11">英数</a></li>
			</ul>
      <% 11.times do |i| %>
          <section  id="glossary-<%= i %>" class="toushikomon-list clearfix">
              <h2><%= ["あ","か","さ","た","な","は","ま","や","ら","わ", "英数"][i] %>行の株用語</h2>
              <ul>
                  <% Glossary.where(category: i).each do |consultant| %>
                    <li><%= link_to consultant.title, glossary_path(consultant) %></li>
                  <% end %>
              </ul>
          </section>
      <% end %> 
		</article>