<div id="pan-navi" class="clearfix">
<ol>
<li class="arrow"><a href="./index.html">HOME</a></li>
<li class="arrow"><a href="./brand-list.html">銘柄一覧</a></li>
<li><strong>8515 ガンホーオンラインエンターテイメント</strong></li>
</ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

<!--content-box-->
<div id="content-box" class="clearfix">

<!--main-->
<article id="main" class="clearfix">

<div class="title-bar">
<h1>8515 ガンホーオンラインエンターテイメント</h1>
</div>

<div class="stock-state clearfix">

<dl class="clearfix">
<dt>市場</dt>
<dd><a href="./brand-list-content.html">JQ</a></dd>
<dt>業種</dt>
<dd><a href="./brand-list-content.html">情報・通信</a></dd>
</dl>

<ul class="soucial-botton clearfix">
<li>
<iframe src="http://www.facebook.com/widgets/like.php?href=http://deai-apps.jp/archive/waplog.html&layout=button_count" scrolling="no" frameborder="0" style="border:none; width:100px; height:20px" title="facebook いいね"></iframe>
</li>
<li class="tweet">
<a href="http://twitter.com/share" class="twitter-share-button" data-url="URL" data-text="株価予想NAVI" data-count="horizontal" data-via="deaiapps" data-lang="ja">ツイート</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</li>
<li class="hatena">
<a href="http://b.hatena.ne.jp/entry/http://deai-apps.jp/archive/%e3%83%89%e3%82%ad%e3%83%89%e3%82%ad%e3%83%89%e3%83%a9%e3%82%a4%e3%83%96.html" class="hatena-bookmark-button" data-hatena-bookmark-title=" &raquo; ドキドキドライブ！ドライブ相手を探せる" data-hatena-bookmark-layout="standard"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</li>
<li class="puls1">
<g:plusone size="medium"></g:plusone>
</li>
</ul>

</div>

<p class="title-dis">PCオンラインゲーム「ラグナロク」から出発。スマホゲーム「パズル＆ドラゴン」が大当たり。</p>

<div class="stock-data clearfix">

<div>
<dl class="clearfix">
<dt>株価 <span>(15:00)</span></dt>
<dd class="today-price">1,236,000</dd>
<dt>前日比</dt>
<dd class="up">+34,000(+2.83%)</dd>
</dl>

<ul class="clearfix">
<li>始値<span>1,238,000</span></li>
<li>高値<span>1,268,000</span></li>
<li>安値<span>1,191,000</span></li>
<li>出来高<span>36,552株</span></li>
<li>前日出来高<span>81,667株</span></li>
<li>出来高増加率<span>45%</span></li>
<li>信用売残<span>30,637株</span></li>
<li>信用売残増減<span>0株</span></li>
<li>信用買残<span>-6,352株</span></li>
<li>信用買残増減<span>0株</span></li>
</ul>

</div>

<img src="http://gchart.yahoo.co.jp/b?s=8515 .T&t=1y&q=c&l=off&z=m&p=m65,m130,s&a=v&c=" alt="ガンホー株価" />

</div>

<section class="stock-rank clearfix">
<h2>8515  ガンホーオンラインエンターテイメント　ランキング</h2>
<ul>
<li>値上がり率<span>1位</span></li>
<li>値下がり率<span>---</span></li>
<li>出来高増加率<span>---</span></li>
<li>出来高減少率<span>---</span></li>
<li>信用買残増加<span>---</span></li>
<li>信用買残減少<span>---</span></li>
<li>信用売残増加<span>---</span></li>
<li>信用売残減少<span>---</span></li>
</ul>
</section>

<div id="stock-content">

<ul id="tab" class="clearfix">
<li class="present"><a href="#page1">株価予想</a></li>
<li><a href="#page2">2chレス</a></li>
<li><a href="#page3">Yahoo</a></li>
<li><a href="#page4">ニュース</a></li>
<li><a href="#page5">企業情報</a></li>
</ul>

<!--page1-->
<section id="page1">

<div class="title-bar-sub">
<h2>8515  ガンホーオンラインエンターテイメント　株価予想</h2>
<p>全20件</p>
</div>

<ul class="content-list-box">
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
<li class="content-list clearfix">
<dl class="clearfix">
<dt>名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。</p>
<ul>
<li class="good"><a href="./barnd.html">13</a></li>
<li class="bad"><a href="./barnd.html">9</a></li>
<li class="reply"><a href="#stock-write"><span>このレスに返信</span></a></li>
</ul>
</li>
</ul>

<div id="stock-write" class="from-write">
<h3>株価予想に書き込みをする</h3>
<div class="clearfix">
<p>スパム対策の為、URLは"h"を抜いた"ttp"から入力してください。</p>
<form action="">
<dl class="clearfix">
<dt><label for="form-stock-name">お名前</label></dt>
<dd><input type="text" name="" id="form-stock-name" /></dd>
<dt><label for="form-stock-code">銘柄コード</label></dt>
<dd><input type="text" name="" value="8515" id="form-stock-code" /></dd>
</dl>
<p><textarea name=""></textarea></p>
<ul>
<li><input type="checkbox" /><a href="./kiyaku.html">利用規約</a>に同意して書き込む</li>
<li><input type="image" src="./img/button-form-write.png" value="書き込み" alt="書き込み" onMouseOver="this.src='./img/button-form-write-on.png'" onMouseOut="this.src='./img/button-form-write.png'" /></li>
</ul>
</form>
</div>

</div>

</section>
<!--page1-->


<!--page2-->
<section id="page2">

<div class="title-bar-sub">
<h2>8515  ガンホーオンラインエンターテイメント　2ch</h2>
</div>

<ul id="bbs-2ch-menu" class="clearfix">
<li id="bbs-2ch1" class="now"><span>今買えばスレ</span></li>
<li id="bbs-2ch2"><span>急騰急落スレ</span></li>
<li id="bbs-2ch3"><span>低位仕手スレ</span></li>
<li id="bbs-2ch4"><span>悪材料スレ</span></li>
</ul>

<div id="bbs-2ch1on" class="content-2ch">
<ul>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。今買えばスレ</p>
</li>
</ul>
</div>

<div id="bbs-2ch2on" class="content-2ch">
<ul>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。急騰急落スレ</p>
</li>
</ul>
</div>

<div id="bbs-2ch3on" class="content-2ch">
<ul>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。低位仕手スレ</p>
</li>
</ul>
</div>

<div id="bbs-2ch4on" class="content-2ch">
<ul>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
<li class="bbs-2ch-list clearfix">
<dl class="clearfix">
<dt>1.名無しさん</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>ID:rFNIv707</dd>
</dl>
<p>ガンホーは、今月末に1:10の株式分割を行う予定ですね。米では、パズドラが人気ということも嬉しいニュースですね。悪材料スレ</p>
</li>
</ul>
</div>

</section>
<!--page2-->

<!--page3-->
<section id="page3">

<div class="title-bar-sub">
<h2>8515  ガンホーオンラインエンターテイメント　yahoo textream</h2>
</div>

<ul>
<li class="bbs-yahoo-list clearfix">
<dl class="clearfix">
<dt>分割</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>投稿者ヤーちん</dd>
</dl>
<p>SGもそろそろ本気の買い戻しをしなくては！！遊びにきている訳では無いだろ！！機関は8社ぐらい虎視眈々！！！</p>
</li>
<li class="bbs-yahoo-list clearfix">
<dl class="clearfix">
<dt>分割</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>投稿者ヤーちん</dd>
</dl>
<p>SGもそろそろ本気の買い戻しをしなくては！！遊びにきている訳では無いだろ！！機関は8社ぐらい虎視眈々！！！</p>
</li>
<li class="bbs-yahoo-list clearfix">
<dl class="clearfix">
<dt>分割</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>投稿者ヤーちん</dd>
</dl>
<p>SGもそろそろ本気の買い戻しをしなくては！！遊びにきている訳では無いだろ！！機関は8社ぐらい虎視眈々！！！</p>
</li>
<li class="bbs-yahoo-list clearfix">
<dl class="clearfix">
<dt>分割</dt>
<dd>2013/06/18(金) 18:08</dd>
<dd>投稿者ヤーちん</dd>
</dl>
<p>SGもそろそろ本気の買い戻しをしなくては！！遊びにきている訳では無いだろ！！機関は8社ぐらい虎視眈々！！！</p>
</li>
</ul>

</section>
<!--page3-->

<!--page4-->
<section id="page4">

<div class="title-bar-sub">
<h2>8515  ガンホーオンラインエンターテイメント　関連ニュース</h2>
</div>

<ul>
<li><a href="" target="_blank">イベント控えたポジション整理で伸び悩む展開に／JASDAQ市況(フィスコ)</a><span>16時44分</span></li>
<li><a href="" target="_blank">イベント控えたポジション整理で伸び悩む展開に／JASDAQ市況(フィスコ)</a><span>16時44分</span></li>
<li><a href="" target="_blank">イベント控えたポジション整理で伸び悩む展開に／JASDAQ市況(フィスコ)</a><span>16時44分</span></li>
<li><a href="" target="_blank">イベント控えたポジション整理で伸び悩む展開に／JASDAQ市況(フィスコ)</a><span>16時44分</span></li>
<li><a href="" target="_blank">イベント控えたポジション整理で伸び悩む展開に／JASDAQ市況(フィスコ)</a><span>16時44分</span></li>
<li><a href="" target="_blank">イベント控えたポジション整理で伸び悩む展開に／JASDAQ市況(フィスコ)</a><span>16時44分</span></li>
</ul>

</section>
<!--page4-->

<!--page5-->
<section id="page5">

<div class="title-bar-sub">
<h2>8515  ガンホーオンラインエンターテイメント　企業情報</h2>
</div>

<table>
<tr>
<td>社名</td>
<td>ガンホー・オンライン・エンターテイメント</td>
</tr>
<tr>
<td>英文社名</td>
<td>ＧｕｎｇＨｏ　Ｏｎｌｉｎｅ　Ｅｎｔｅｒｔａｉｎｍｅｎｔ，Ｉｎｃ．</td>
</tr>
<tr>
<td>住所</td>
<td>〒100-0005 東京都千代田区丸の内３－８－１ 住友不動産丸の内ビル</td>
</tr>
<tr>
<td>電話番号</td>
<td>03-6895-1650</td>
</tr>
<tr>
<td>業種</td>
<td>情報・通信</td>
</tr>
<tr>
<td>代表者名</td>
<td>森下　一喜</td>
</tr>
<tr>
<td>設立年月日</td>
<td>1998年7月1日</td>
</tr>
<tr>
<td>市場名</td>
<td>東証JASDAQスタンダード</td>
</tr>
<tr>
<td>上場年月日</td>
<td>2005年3月9日</td>
</tr>
<tr>
<td>決算</td>
<td>12月末日</td>
</tr>
<tr>
<td>単元株数</td>
<td>単元株制度なし</td>
</tr>
</table>

</section>
<!--page5-->
</div>

<section id="stock-involved">
<h2>8515  ガンホーオンラインエンターテイメントと同じ業種の注目銘柄</h2>
<table>
<thead>
<tr>
<th>コード</th>
<th>銘柄名</th>
<th>市場</th>
<th>業種</th>
</tr>
</thead>
<tbody>
<tr>
<td class="t-width-70">1973</td>
<td class="brand-name"><a href="">NECネッツエスアイ（株）</a></td>
<td class="t-width-70">JQ</td>
<td class="t-width-130">情報・通信</td>
</tr>
<tr>
<td>1973</td>
<td class="brand-name"><a href="./brand.html">NECネッツエスアイ（株）</a></td>
<td>JQ</td>
<td>情報・通信</td>
</tr>
<tr>
<td>1973</td>
<td class="brand-name"><a href="./brand.html">NECネッツエスアイ（株）</a></td>
<td>JQ</td>
<td>情報・通信</td>
</tr>
<tr>
<td>1973</td>
<td class="brand-name"><a href="./brand.html">NECネッツエスアイ（株）</a></td>
<td>JQ</td>
<td>情報・通信</td>
</tr>
<tr>
<td>1973</td>
<td class="brand-name"><a href="./brand.html">NECネッツエスアイ（株）</a></td>
<td>JQ</td>
<td>情報・通信</td>
</tr>
</tbody>
</table>
<p><a href="./brand-list-content.html">情報・通信の銘柄一覧&gt;&gt;</a></p>
</section>

</article>