<div id="pan-navi" class="clearfix">
  <ol>
    <li class="arrow"><a href="./index.html">HOME</a></li>
    <li><strong>お問い合わせ</strong></li>
  </ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

  <!--content-box-->
  <div id="content-box" class="clearfix">

    <!--main-->
    <div id="main" class="clearfix">
      <div class="title-bar">
        <h1>お問い合わせ</h1>
      </div>

      <div class="contact-form">
        <p>ご意見・ご質問のある方は、下記項目を入力し送信ボタンをクリックしてください。</p>

        <%= form_for @inquiry, url: {action: 'inquiry_create'} do |f| %>
          <dl>
            <dt><label for="contact-name">お名前</label></dt>
            <dd><input type="text" name="" id="contact-name" /></dd>
            <dt>メールアドレス</dt>
            <dd><%= f.text_field :address, size: 60, id: "contact-mail" %></dd>
            <dt><label for="contact-content">内容</label></dt>
            <dd><%= f.text_area :content, size: "60x20", id: "contact-content" %></dd>
          </dl>
          <p>
            <%= f.submit "お問い合わせ送信", class: "submit" %>
          </p>
        <% end %>
      </div>

    </div>
    <!--//main-->



