<div id="pan-navi" class="clearfix">
	<ol>
		<li class="arrow"><%= link_to "HOME", root_path %></li>
		<li><strong>利用規約</strong></li>
	</ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

	<!--content-box-->
	<div id="content-box" class="clearfix">

		<!--main-->
		<div id="main" class="clearfix">

			<div class="title-bar">
				<h1>利用規約</h1>
			</div>

			<div class="help-article">
				<p>
					ああああああああああああああああああああああああああああああああああああああああああああああああああああ。<br>
					あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
				</p>
			</div>

		</div>
