<table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:5px;">
<tr><td>
<table border="0" cellpadding="2" cellspacing="1" width="600">
<tr bgcolor="#c6f29b" align="center"> 
<td width="23%" class="mtext">銘柄</td>
<td width="8%" class="mtext">コード</td>
<td width="15%" class="mtext">証金/取引所</td>
<td width="54%" class="mtext">備考</td>
</tr>
<!--HEADER_M33_END-->


<tr bgcolor="#f0f0f0">
<td class="mtext">ＪＡＳＤＡＱ－ＴＯＰ２０上場投信</td>
<td align="center" class="mtext">1551</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止、現引停止（4/26以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">中国Ｈ株ブル２倍上場投信</td>
<td align="center" class="mtext">1572</td>
<td class="mtext">日証金</td>
<td class="mtext">貸株注意喚起（通知日：6/26）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">三井住友建設</td>
<td align="center" class="mtext">1821</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：2012/12/7）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">大東建託</td>
<td align="center" class="mtext">1878</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2008/1/7以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">徳倉建設</td>
<td align="center" class="mtext">1892</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2008/12/4以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アコーディア・ゴルフ</td>
<td align="center" class="mtext">2131</td>
<td class="mtext">日証金</td>
<td class="mtext">貸株注意喚起（通知日：1/30）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">クルーズ</td>
<td align="center" class="mtext">2138</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止、現引停止（2/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">米久</td>
<td align="center" class="mtext">2290</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（1/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＳＪＩ</td>
<td align="center" class="mtext">2315</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止、現引停止（7/1以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ｆｏｎｆｕｎ</td>
<td align="center" class="mtext">2323</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：5/14）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＳｍａｒｔＥｂｏｏｋ．ｃｏｍ</td>
<td align="center" class="mtext">2330</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：6/5）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">いちごグループホールディングス</td>
<td align="center" class="mtext">2337</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2008/8/6以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">夢真ホールディングス</td>
<td align="center" class="mtext">2362</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：1/18）、個別銘柄の信用取引に関する臨時措置（2/6売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ルネサンス</td>
<td align="center" class="mtext">2378</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2009/3/3以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">新日本科学</td>
<td align="center" class="mtext">2395</td>
<td class="mtext">日証金</td>
<td class="mtext">貸株注意喚起（通知日：3/28）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ユナイテッド</td>
<td align="center" class="mtext">2497</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2012/2/15以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ユナイテッド</td>
<td align="center" class="mtext">2497</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：6/18）、個別銘柄の信用取引に関する臨時措置（6/26売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">イメージワン</td>
<td align="center" class="mtext">2667</td>
<td class="mtext">大証金</td>
<td class="mtext">貸株注意喚起（通知日：1/31）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">イメージワン</td>
<td align="center" class="mtext">2667</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：3/11）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ジパング</td>
<td align="center" class="mtext">2684</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/10/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ジパング</td>
<td align="center" class="mtext">2684</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：5/17）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ハイブリッド・サービス</td>
<td align="center" class="mtext">2743</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（6/24以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">エフティコミュニケーションズ</td>
<td align="center" class="mtext">2763</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止、現引停止（2/13以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">シノブフーズ</td>
<td align="center" class="mtext">2903</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2005/3/25以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">神栄</td>
<td align="center" class="mtext">3004</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（6/20午後立会開始時以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">神栄</td>
<td align="center" class="mtext">3004</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：6/21）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">神栄</td>
<td align="center" class="mtext">3004</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（6/20午後立会開始時以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">価値開発</td>
<td align="center" class="mtext">3010</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2008/8/20以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">プロパスト</td>
<td align="center" class="mtext">3236</td>
<td class="mtext">大証</td>
<td class="mtext">個別銘柄の信用取引に関する臨時措置（3/29売買分以降）：委託保証金率80％以上（うち現金50％以上）、日々公表（指定日：2012/8/21）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">エー・ディー・ワークス</td>
<td align="center" class="mtext">3250</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：1/10）、個別銘柄の信用取引に関する臨時措置（3/21売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アスコット</td>
<td align="center" class="mtext">3264</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：4/12）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ファンドクリエーショングループ</td>
<td align="center" class="mtext">3266</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2011/6/1)</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">レカム</td>
<td align="center" class="mtext">3323</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：6/12）、個別銘柄の信用取引に関する臨時措置（6/18売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">フォンツ・ホールディングス</td>
<td align="center" class="mtext">3350</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/10/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">関門海</td>
<td align="center" class="mtext">3372</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2005/11/17以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">コスモ・バイオ</td>
<td align="center" class="mtext">3386</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：5/9）、個別銘柄の信用取引に関する臨時措置（6/7売買分以降）：委託保証金率70％以上（うち現金40％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">グリー</td>
<td align="center" class="mtext">3632</td>
<td class="mtext">日証金</td>
<td class="mtext">貸株注意喚起（通知日：6/27）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＫＬａｂ</td>
<td align="center" class="mtext">3656</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：6/28）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アエリア</td>
<td align="center" class="mtext">3758</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/12/27以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ブロードバンドタワー</td>
<td align="center" class="mtext">3776</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：5/15）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ビットアイル</td>
<td align="center" class="mtext">3811</td>
<td class="mtext">大証金</td>
<td class="mtext">貸株注意喚起（通知日：6/27）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ビットアイル</td>
<td align="center" class="mtext">3811</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：6/28）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ジャパンインベスト・グループ・ピー・エル・シー</td>
<td align="center" class="mtext">3827</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2010/2/18午後立会開始時以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">日本カーバイド工業</td>
<td align="center" class="mtext">4064</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：2012/10/29）、個別銘柄の信用取引に関する臨時措置（2012/11/2売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">丸尾カルシウム</td>
<td align="center" class="mtext">4102</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2008/10/23以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">群栄化学工業</td>
<td align="center" class="mtext">4229</td>
<td class="mtext">日証金</td>
<td class="mtext">貸株注意喚起（通知日：6/17）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">群栄化学工業</td>
<td align="center" class="mtext">4229</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：5/31）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">デジタル・アドバタイジング・コンソーシアム</td>
<td align="center" class="mtext">4281</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：6/7）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ケネディクス</td>
<td align="center" class="mtext">4321</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：3/28）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ブロードメディア</td>
<td align="center" class="mtext">4347</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2/26）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">山田債権回収管理総合事務所</td>
<td align="center" class="mtext">4351</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/10/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">新日本理化</td>
<td align="center" class="mtext">4406</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2012/6/28）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ビオフェルミン製薬</td>
<td align="center" class="mtext">4517</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2002/9/2以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">森下仁丹</td>
<td align="center" class="mtext">4524</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2005/3/18以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ジーンテクノサイエンス</td>
<td align="center" class="mtext">4584</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：6/5）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">トウペ</td>
<td align="center" class="mtext">4614</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2009/11/13以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">イサム塗料</td>
<td align="center" class="mtext">4624</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2005/3/24以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">サニックス</td>
<td align="center" class="mtext">4651</td>
<td class="mtext">日・大証金</td>
<td class="mtext">貸株注意喚起（通知日：2/22）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ジャストシステム</td>
<td align="center" class="mtext">4686</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2012/12/14）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ネクストウェア</td>
<td align="center" class="mtext">4814</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2005/9/20以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＵＳＥＮ</td>
<td align="center" class="mtext">4842</td>
<td class="mtext">大証</td>
<td class="mtext">個別銘柄の信用取引に関する臨時措置（2006/3/17売買分以降）：委託保証金率70％以上（うち現金40％以上）、日々公表（指定日：2004/9/30）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アサヒ衛陶</td>
<td align="center" class="mtext">5341</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2008/4/25以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ジャニス工業</td>
<td align="center" class="mtext">5342</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2005/12/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">イソライト工業</td>
<td align="center" class="mtext">5358</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2006/11/8以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">中山製鋼所</td>
<td align="center" class="mtext">5408</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2012/11/30以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">東邦金属</td>
<td align="center" class="mtext">5781</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2006/9/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">日本橋梁</td>
<td align="center" class="mtext">5912</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：3/15）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">日本橋梁</td>
<td align="center" class="mtext">5912</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2007/1/10以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アマテイ</td>
<td align="center" class="mtext">5952</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2002/9/19以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">富士機械製造</td>
<td align="center" class="mtext">6134</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2009/5/18以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">石川製作所</td>
<td align="center" class="mtext">6208</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（4/11以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">テクノスマート</td>
<td align="center" class="mtext">6246</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2004/3/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ニッセイ</td>
<td align="center" class="mtext">6271</td>
<td class="mtext">日・中証金</td>
<td class="mtext">新規売停止（2012/12/5以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">名機製作所</td>
<td align="center" class="mtext">6280</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2007/12/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">神鋼環境ソリューション</td>
<td align="center" class="mtext">6299</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：6/12）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">三精輸送機</td>
<td align="center" class="mtext">6357</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2004/3/15以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＮＦＫホールディングス</td>
<td align="center" class="mtext">6494</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2012/2/10）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">田淵電機</td>
<td align="center" class="mtext">6624</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：5/22）、個別銘柄の信用取引に関する臨時措置（6/28売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">Ｃ＆Ｇシステムズ</td>
<td align="center" class="mtext">6633</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：6/13）、個別銘柄の信用取引に関する臨時措置（6/19売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">プラネックスホールディング</td>
<td align="center" class="mtext">6784</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2012/5/9以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">東光</td>
<td align="center" class="mtext">6801</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（2/14以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">フェローテック</td>
<td align="center" class="mtext">6890</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2011/9/14）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">北川工業</td>
<td align="center" class="mtext">6896</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2007/12/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">遠藤照明</td>
<td align="center" class="mtext">6932</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2012/5/22以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">日本インター</td>
<td align="center" class="mtext">6974</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2008/12/30以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">新家工業</td>
<td align="center" class="mtext">7305</td>
<td class="mtext">日・大証金</td>
<td class="mtext">貸株注意喚起（通知日：6/17）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">五洋インテックス</td>
<td align="center" class="mtext">7519</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：3/5）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">システムソフト</td>
<td align="center" class="mtext">7527</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：1/7）、個別銘柄の信用取引に関する臨時措置（6/21売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">大水</td>
<td align="center" class="mtext">7538</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2008/12/9以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">メガネトップ</td>
<td align="center" class="mtext">7541</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（4/15午後立会開始時以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">プレシジョン・システム・サイエンス</td>
<td align="center" class="mtext">7707</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：5/31）、個別銘柄の信用取引に関する臨時措置（6/6売買分以降）：委託保証金率50％以上（うち現金20％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">インターアクション</td>
<td align="center" class="mtext">7725</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2009/2/25以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">未来工業</td>
<td align="center" class="mtext">7931</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2008/1/11以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＧＳＩクレオス</td>
<td align="center" class="mtext">8101</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（6/12午後立会開始時以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＧＳＩクレオス</td>
<td align="center" class="mtext">8101</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（6/12午後立会開始時以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">キムラタン</td>
<td align="center" class="mtext">8107</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2005/4/25以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">中部水産</td>
<td align="center" class="mtext">8145</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2007/12/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">タカキュー</td>
<td align="center" class="mtext">8166</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2001/3/6以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">フレンドリー</td>
<td align="center" class="mtext">8209</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2003/3/17以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">丸栄</td>
<td align="center" class="mtext">8245</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（6/3以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">丸栄</td>
<td align="center" class="mtext">8245</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：5/31）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">丸栄</td>
<td align="center" class="mtext">8245</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（6/3以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">さいか屋</td>
<td align="center" class="mtext">8254</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2009/8/5以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ダイエー</td>
<td align="center" class="mtext">8263</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（3/28以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">三谷産業</td>
<td align="center" class="mtext">8285</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2005/12/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">富山銀行</td>
<td align="center" class="mtext">8365</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2007/12/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アクリーティブ</td>
<td align="center" class="mtext">8423</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2010/4/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">Ｊトラスト</td>
<td align="center" class="mtext">8508</td>
<td class="mtext">大証金</td>
<td class="mtext">貸株注意喚起（通知日：5/31）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アイフル</td>
<td align="center" class="mtext">8515</td>
<td class="mtext">東証</td>
<td class="mtext">日々公表（指定日：2012/11/15）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">トレイダーズホールディングス</td>
<td align="center" class="mtext">8704</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2011/6/14以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">スパークス・グループ</td>
<td align="center" class="mtext">8739</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：6/24）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＲＩＳＥ</td>
<td align="center" class="mtext">8836</td>
<td class="mtext">大証</td>
<td class="mtext">個別銘柄の信用取引に関する臨時措置（6/21売買分以降）：委託保証金率70％以上（うち現金40％以上）、日々公表（指定日：5/13）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">日本エスリード</td>
<td align="center" class="mtext">8877</td>
<td class="mtext">日・大証金</td>
<td class="mtext">新規売停止（1/28以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アパマンショップホールディングス</td>
<td align="center" class="mtext">8889</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2008/8/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アパマンショップホールディングス</td>
<td align="center" class="mtext">8889</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2012/11/19）、個別銘柄の信用取引に関する臨時措置（4/18売買分以降）：委託保証金率90％以上（うち現金60％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">新日本建物</td>
<td align="center" class="mtext">8893</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/10/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">新日本建物</td>
<td align="center" class="mtext">8893</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2012/12/14）、個別銘柄の信用取引に関する臨時措置（4/10売買分以降）：委託保証金率90％以上（うち現金60％以上）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">原弘産</td>
<td align="center" class="mtext">8894</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2008/8/19以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">原弘産</td>
<td align="center" class="mtext">8894</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：5/7）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">アルデプロ</td>
<td align="center" class="mtext">8925</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止（2008/8/14以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">明豊エンタープライズ</td>
<td align="center" class="mtext">8927</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/10/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">山陽電気鉄道</td>
<td align="center" class="mtext">9052</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2004/3/22以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">神姫バス</td>
<td align="center" class="mtext">9083</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2004/3/22以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">伊勢湾海運</td>
<td align="center" class="mtext">9359</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2008/1/11以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ワールド・ロジ</td>
<td align="center" class="mtext">9378</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2007/4/4以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">日本通信</td>
<td align="center" class="mtext">9424</td>
<td class="mtext">大証</td>
<td class="mtext">個別銘柄の信用取引に関する臨時措置（2010/4/14売買分以降）：委託保証金率60％以上（うち現金30％以上）、日々公表（指定日：2010/1/26）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ＮＥＣモバイリング</td>
<td align="center" class="mtext">9430</td>
<td class="mtext">日証金</td>
<td class="mtext">新規売停止、現引停止（3/28以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">エム・エイチ・グループ</td>
<td align="center" class="mtext">9439</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/10/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">中部瓦斯</td>
<td align="center" class="mtext">9540</td>
<td class="mtext">中証金</td>
<td class="mtext">新規売停止（2007/12/21以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">ウィルソン・ラーニングワールドワイド</td>
<td align="center" class="mtext">9610</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2010/10/12以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">オーエス</td>
<td align="center" class="mtext">9637</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2008/1/11以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">セゾン情報システムズ</td>
<td align="center" class="mtext">9640</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2011/3/15以降）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">モリト</td>
<td align="center" class="mtext">9837</td>
<td class="mtext">大証金</td>
<td class="mtext">貸株注意喚起（通知日：2010/9/24）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">サハダイヤモンド</td>
<td align="center" class="mtext">9898</td>
<td class="mtext">大証</td>
<td class="mtext">日々公表（指定日：2011/1/26）</td>
</tr>

<tr bgcolor="#f0f0f0">
<td class="mtext">マルコ</td>
<td align="center" class="mtext">9980</td>
<td class="mtext">大証金</td>
<td class="mtext">新規売停止（2004/10/21以降）</td>
</tr>


</table>