// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog_table {
	border: 1px solid #ccc;
	td {
		padding: 10px;
	}
	th {
		padding: 5px;
	}
	.rank {
		text-align:center;
	}
	.image {
		vertical-align:top;
	}
	th {
		background-color: rgb(236,236,236);
	}
	.title {
		padding: 2px;
		font-size: 16px;
		margin-bottom: 7px;
	}
	.entry {
		padding: 2px;
		margin: 10px 0;
		a {
			font-size: 15px;
		}
		.time {
			margin-top: 5px;
			color: #888;
			font-size: 11px;
		}
		.word {

		}
	}
	.describe {
		margin-top: 5px;
		color: #555;
		line-height: 17px;
		font-size: 12px;
	}
}
.table-striped tbody > tr:nth-child(odd) > td {
  background-color: rgb(236,236,236);
}
  .new_blog_top {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    #first_comment {
      width: 340px;
      float: left;
      margin-right: 20px;
    }
  	.new_blog_container {
	  background-color: #ecf0f1;
	  padding: 10px;
		.new_blog_container {
		  width: 600px;
		  float: left;
		  border-left: 1px solid #ccc;
		  padding-left: 20px;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		  h3 {
		    font-weight: bold;
		    font-size: 15px;
		    margin-bottom: 10px;
		  }
		}
	}
}