/////////////////////////////////////
// 全ページに登場する id class の指定
/////////////////////////////////////

// カンタンfloat
.float-left{float:left;}
.float-right{float:right;}

// カンタンmargin
.top0px{margin-top: 0px;}
.left0px{margin-left: 0px;}
.right0px{margin-right: 0px;}
.bottom0px{margin-bottom: 0px;}

.top5px{margin-top: 5px;}
.left5px{margin-left: 5px;}
.right5px{margin-right: 5px;}
.bottom5px{margin-bottom: 5px;}

.top6px{margin-top: 6px;}

.top10px{margin-top: 10px;}
.left10px{margin-left: 10px;}
.right10px{margin-right: 10px;}
.bottom10px{margin-bottom: 10px;}

.top15px{margin-top: 15px;}
.left15px{margin-left: 15px;}
.right15px{margin-right: 15px;}
.bottom15px{margin-bottom: 15px;}

.top20px{margin-top: 20px;}
.left20px{margin-left: 20px;}
.right20px{margin-right: 20px;}
.bottom20px{margin-bottom: 20px;}

.top40px{margin-top: 40px;}
.bottom40px{margin-bottom: 40px;}
.right40px{margin-right: 40px;}
.left40px{margin-left: 40px;}

.top100px{margin-top: 100px;}
.bottom100px{margin-bottom: 100px;}
.right100px{margin-right: 100px;}
.left100px{margin-left: 100px;}

// カンタンpadding
.ptop10px{padding-top: 10px;}
.pleft10px{padding-left: 10px;}
.pright10px{padding-right: 10px;}
.pbottom10px{padding-bottom: 10px;}

.ptop15px{padding-top: 15px;}
.pleft15px{padding-left: 15px;}
.pright15px{padding-right: 15px;}
.pbottom15px{padding-bottom: 15px;}

.ptop20px{padding-top: 20px;}
.pleft20px{padding-left: 20px;}
.pright20px{padding-right: 20px;}
.pbottom20px{padding-bottom: 20px;}

// カンタンwidth
.width30px{width:30px;}
.width50px{width:50px;}
.width60px{width:60px;}
.width100px{width:100px;}
.width130px{width:130px;}
.width140px{width:140px;}
.width150px{width:150px;}
.width180px{width:180px;}
.width190px{width:190px;}
.width200px{width:200px;}
.width250px{width:250px;}
.width300px{width:300px;}
.width330px{width:330px;}
.width400px{width:400px;}
.width500px{width:500px;}
.width580px{width:580px;}
.width600px{width:600px;}


// テキスト
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}

.text-small{font-size:10px;}
.text-large{font-size:18px;}

.text-bold{font-weight:bold}