<div id="pan-navi" class="clearfix">
  <ol>
    <li class="arrow"><%= link_to "HOME", root_path %></li>
    <li><strong>株初心者</strong></li>
  </ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

  <!--content-box-->
  <div id="content-box" class="clearfix">

<!--main-->
<article id="main" class="clearfix">
<h1>New beginner</h1>

<%= render 'form' %>

<%= link_to 'Back', beginners_path %>
</article>

